body{
    margin:0px
}
.header {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    background-color: #1F2937;
    gap: 1rem;
    justify-content: space-evenly;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 5rem;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    gap: 5rem;
    font-size: 20px;
}
.title {
    display: flex;
    background-color: #1F2937;
    color: white;
    font-size: 48px;
}
.flex-row{
    display: flex;
    flex-direction: row;
    gap:30rem;
    justify-content: space-between;
}
.title-2{
    display: flex;
    font-size: 18px;
    color: white;
}
.button{
    display: flex;
    font-size: 15px;
    width: fit-content;
    color: white;
    background-color: #3882F6;
    border-radius: 5px;
}
.ice{
    display: flex;
}
.flexrowtwo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
}
.plzwrk{
    display: flex;
    justify-content: space-between;
}
.subhead{
    display: flex;
    justify-content: space-around;
    font-size: 36px;
    font-weight: bolder;
}
.substance{
    display: flex;
    font-size: 18px;
}
.avyone{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2rem;
}
.avytwo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.avythree{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.avyfour{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quote{
    display: flex;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    padding-top: 5rem;
    padding-bottom: 5rem;
    justify-content: center;
}
.action{
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #3882F6;
    align-items: center;
    gap: 2rem;
    width: 1000px;
    margin-top: 2rem;
    border-radius: 8px;
}
.observation{
    display: flex;
    font-size: 24px;
    color: white;
}
.submit{
    display: flex;
}
.button2{
    display: flex;
    border-color: white;
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    font-size: 18px;
}